<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |message_type, message| %>
       <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <footer class="page-footer font-small blue pt-4 mt-4">
      <div class="col-md-6 col-md-offset-3">
      <div class="container-fluid text-center text-md-left">
        <div class="row">
            <% if current_user then %>
              Logged in as <%= current_user.name %>. <%= link_to "Log out", logout_path, :method => :delete %>
        </div>
        <div class="row">
          <%= link_to "New Post", new_post_path %>
          <% end %>
        </div>
        <%= link_to "View Posts", posts_path %>
      </div>
    </div>
    </footer>
    </div>
  </body>
</html>
